<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<_TargetId>Folder</_TargetId>
		<Platform>Any CPU</Platform>
		<PublishAot>true</PublishAot>
		<PublishTrimmed>true</PublishTrimmed>
		<SelfContained>true</SelfContained>
		<Configuration>Release</Configuration>
		<AssemblyName>disk-analysis</AssemblyName>
		<TargetFramework>net8.0</TargetFramework>
		<PublishReadyToRun>true</PublishReadyToRun>
		<PublishProtocol>FileSystem</PublishProtocol>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<PublishDir>artifact\win-x64\</PublishDir>
	</PropertyGroup>
</Project>
